version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: pgdatabase
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test,postgres
    ports:
      - "5433:5433" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data: