.draggable-question {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  position: relative;
}

.draggable-question::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

.draggable-question:hover::-webkit-scrollbar {
  display: block;
}

.draggable-question::-webkit-scrollbar-track {
  background: transparent;
}

.draggable-question::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}

.draggable-question::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.draggable-question::-webkit-scrollbar-corner {
  background: transparent;
}

.draggable-question:hover {
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
}

.draggable-question:hover .MuiIconButton-root {
  opacity: 1;
}